*.pyc
__init__.py
/doc/latex
/doc/html
*.root
*LSF*
*.pdf
*.log
*.out
*.err
dictionary*
fileList*.py
Fall13_TTbar_PU20bx25/
RelValQCD_FlatPt_15_3000HS_13_CMSSW_7_3_0-MCRUN2_73_V7-v1/
RelValTTbar_13_CMSSW_7_3_0-PU50ns_MCRUN2_73_V9_71XGENSIM_FIXGT-v1/
Spring14_QCD_Pt-15to3000_Flat20to50/
Stage1_*
QCD_*
*BK
*.aux
*.tex
*.nav
*.snm
*.toc
*.vrb
crab/*/
!crab/*.py
authentication.xml
*.txt
core.*
jobFiles
*.condor
crab_get_hadd_*
.gitconfig
*.dag
*.lock
*.dub
*.metrics
*rescue*
*.sub
*.status
*.tgz
*.tar.gz
